$head: "Libre Baskerville", serif;
$body: "Roboto", sans-serif;

$primary-color: #1e2157;
$rep-color: #56a88e;
$dem-color: #2612aa;
$ind-color: #d7c732;
$text-gray: darken(#d2d6d9, 20%);

$background-dark: #0f1d31;
$text-dark: #cbd0d8;
