.inner_container {
  display: flex;
  flex-direction: column;
  .header {
    margin: auto;
    width: 80%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid lightgray;
  }

  .options_container {
    display: flex;
    justify-content: flex-end;
    margin: 0 10%;
  }

  .section_navigator {
    display: flex;
    line-height: 30px;
    .line {
      width: 40px;
      height: 2px;
      background: grey;
      margin: 13px 13px 13px 5px;
    }
  }
}
