@import '../styles/vars.scss';

.title {
    font-family: $head;
    font-size: 66px;
    color: $primary-color;
    margin: 10px 0;
}

.content {
    color: $text-gray;
    font-family: $body;
    font-size: 16px;
    line-height: 1.7em;
}