@import "../styles/vars.scss";

.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  margin-bottom: 30px;
  color: $primary-color;
  font-family: $body;
  font-weight: 700;
  font-size: 14px;

  .home_icon {
    font-size: 22px;
  }

  ul {
    list-style: none;
    li {
      display: inline;
      margin: 0 10px;
    }
    a {
      text-decoration: none;
    }
  }
}
