.switch_container {
  border: 0.05rem solid #caced7;
  border-radius: 0.25rem;
  width: 200px;
  height: 1.8rem;
  line-height: 1.2rem;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}
