@import "../styles/vars.scss";

.province_stats {
  padding: 12px 17px;
  display: flex;
  flex-direction: column;
  width: 400px;
  position: absolute;
  background: #fff;
  text-align: left;
  font-family: $body;
  border: 2px solid black;

  .heading {
    font-size: 1.5rem;
    margin: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .total_electorates {
    font-size: 15px;
  }

  .electorate {
    font-size: 0.75em;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0 1em 0;
    .first {
      font-size: 0.6em;
    }
    span {
      margin-left: 10px;
    }
  }

  .data_container {
    margin: 5px 0;

    .row {
      font-size: 1em;
      padding: 0.3em 0;
      display: flex;
      justify-content: space-between;

      .data_row {
        width: 80%;
        display: inherit;

        .popular_vote {
          font-size: 0.6em;
          line-height: 1.8em;
        }

        .percentage {
          margin-left: 15px;
        }

        .ev_awarded {
          margin-left: 15px;
        }
      }
    }

    .line {
      height: 2.25px;
      width: 100%;
    }
  }
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

th,
td {
  font-size: 0.75em;
  line-height: 1.2em;
  padding: 0.5em 0;
}

td {
  text-align: right;
}

.percentage_combo {
  display: table;
  width: 100%;
  .number {
    display: table-cell;
    width: 2em;
    font-size: 10px;
  }
  .graph {
    display: table-cell;
    vertical-align: middle;
    width: 80%;
    padding: 0 5px;
  }
}

.results_name {
  width: 20%;
}

.results_popular {
  width: 4.5em;
}

.delegates_cell {
  width: 1.5em;
}
